

<div class="container">
  <br>
  <button _ngcontent-nhq-c65="" type="button" class="btn btn-primary btn-lg btn-block">view dongle plans</button>           
  <table class="table table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>plan</th>
          <th>validity</th>
          <th>benifits</th>        
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{dongle.id}}</td>
          <td>{{dongle.emailId}}</td>
          <td>{{dongle.userName}}</td>
          <td>{{dongle.password}}</td>          
        </tr>                
      </tbody> 
    </table>    
    <button type="button" class="btn btn-primary" (click)="gotodonglelist()">back</button>
  </div>