<div
      class="p-5 text-center bg-image"
      style="
        background-image: url('https://images.unsplash.com/photo-1559131397-f94da358f7ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
        height: 95vh;
        width:100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      "
    >
      <div class="mask">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
              <img  class="mb-5" src="../../assets/images/voisefonical-removebg-preview.png" alt="">
            <h1 class="mb-3">Welcome to VoizFonica</h1>
            <h4 class="mb-3">Always together! Just call them</h4>
            <button class="btn btn-outline-light btn-lg" (click)="goToAdminLogin()">Admin</button>
            <button class="btn btn-outline-light btn-lg" (click)="goTouserLogin()">User</button>
          </div>
        </div>
      </div>
    </div>
