<!DOCTYPE html>
<html>
<head>
  <style>
 
 .apple {
  height: 10%;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #007bff;
  background: linear-gradient(to right, rgb(0, 56, 56), rgb(0, 252, 252));
}

#page-content {
  flex: 10 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/* Other Classes for Page Styling */

</style>
</head>
<body>

  <div class="d-flex flex-column apple">
  <!-- <div id="page-content">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <h1 class="font-weight-light mt-4 text-white"></h1>
        </div>
      </div>
    </div>
  </div> -->
    <div class="container text-center">
      
      <p style="color: black;"class="hi"><a href="https://affru-ltd.business.site/">
        
        </a></p>

        <a type="button" class="btn btn-dark" href="https://www.facebook.com/" title="Facebook"><i class="fa fa-facebook"></i></a>&nbsp;
        <a type="button" class="btn btn-dark" href="https://twitter.com/" title="Twitter"><i class="fa fa-twitter"></i></a>&nbsp;
        <a type="button" class="btn btn-dark" href="https://www.google.com/" title="Google +"><i class="fa fa-google-plus"></i></a>&nbsp;
        <a type="button" class="btn btn-dark" href="https://www.instagram.com/" title="Google +"><i class="fa fa-instagram"></i></a>&nbsp;
        <a type="button" class="btn btn-dark" href="https://www.linkedin.com/" title="Linkedin"><i class="fa fa-linkedin"></i></a>&nbsp;
    
        <label class="hello"><strong> Copyright 2020&copy; @voizFonica</strong></label>
    </div>
  </div>
</body>
</html>