<!-- 
<header>

    <nav class=" navbar fixed-top navbar-expand-lg navbar-dark bg-dark" id="abc" style="color: black;" >
      <a class="navbar-brand" style="color:white" (click)="mainpage()"><button class="btn btn-dark">VoizFonica</button></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"style="color: white;">
              Prepaid
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" (click)="gotoplans()">Recharge</a>
              <a class="dropdown-item" (click)="gotoplans()" >view plan </a>
              <a class="dropdown-item" >prepaid to postpaid</a>
            </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                Postpaid
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" (click)="gotobill()" >paybill</a>
              <a class="dropdown-item" (click)="gotoplans()" >view plan</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                Dongle
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" (click)="gotoplans()">Recharge</a>
              <a class="dropdown-item" (click)="gotoplans()" >view plan</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"style="color: white;">
                Help
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" (click)="contactus()">contact us</a>
                <a class="dropdown-item"  data-toggle="modal" data-target="#contactus" (click)="faq()">FAQ</a>
               
              </div>
            </li>
  
  
  
  
  
  
        </ul>
        <ul class="navbar-nav ml-autoo">
          <li class="nav-item">
              <a class="nav-link" style="color: white;" (click)="reg()"> <i class="fa fa-user"></i> Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white;" (click)="log()"><i class="fa fa-sign-in"></i>Login</a>
          </li>
       </ul>       
      </div>
    </nav>
  
  </header> -->











  <div class="allpage" style="background-image: url(../../assets/images/log2.jpeg);" >
    
    <div class="container" >
        <div class="row">
            <div style="height: 25vh;"></div>
        </div>
        <div class="row">
         
            <div class="col-md-6 mb-4">         
                <!-- <div >
                    <img src="../../assets/images/log3.jpg" style="width: 500px; height: 650px; align-items: top ;"> 
                </div> -->
            </div>
    
    
            <div class="col-md-6 mb-4">
                <!-- <br><br><br><br><br><br><br> -->
                <!-- <div class="layout">
        
                <form #loginForm="ngForm" (ngSubmit)="loginUser3(subscriber.id,subscriber.tempPass)">
                 <small class="text-danger">{{msg}}</small>
           
                 <div class="form-group">
                <label for="email" ><strong style="color: teal;"> Email id:</strong></label><br>
    
                <input type="email" class="form-control"  
                 placeholder="enter email" name="email"[(ngModel)]="subscriber.emailId" required
                 pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" #email="ngModel"
                 [class.is-invalid]="email.invalid && email.touched">
    
                
                 <div *ngIf="email.errors && (email.invalid && email.touched)">
                    <small class="text-danger" *ngIf="email.errors.required">Email Id is required field</small>
                    <small class="text-danger" *ngIf="email.errors.pattern">Enter a valid email id</small>
                </div>
                 </div>
                <div class="form-group">
                    <label for="pd"><strong style="color: teal;"> Set New Password:</strong></label><br>
                    <input type="password" class="form-control" 
                    placeholder="enter new password" name="pd" [(ngModel)]="subscriber.UpdatePassword" required #UpdatePassword="ngModel"
                    [class.is-invalid]="UpdatePassword.invalid && UpdatePassword.touched">                
                    <small class="text-danger" [class.d-none]="UpdatePassword.valid || UpdatePassword.untouched">
                      UpdatePassword is required field</small> 
                </div>
                
                <div class="checkbox" >
                    <label><input type="checkbox" name="remember" > Remember me</label>
                    
                </div>
                <small class="float-right" (click)="gotologin()">
                  <button type="submit" class="btn btn-info">Update</button>  
              </small>
                
            
        </form>
        </div> -->



        <div class="container">
          <h2 style="color:white;">Update Password</h2>
          <form #rudForm="ngForm" (ngSubmit)="upUser(subscriber.emailId,subscriber.password)">
            <!-- <div class="form-group">
              <label for="email">Id:</label>
              <input type="email" class="form-control" id="email" [(ngModel)]="id1" placeholder="Enter Id" name="email">
            </div> -->
            <div class="form-group">
              <label for="email" style="color:white;">Email:</label>
              <input type="email" class="form-control" id="email" [(ngModel)]="subscriber.emailId" placeholder="Enter your registered email" name="email">
            </div>
            <div class="form-group">
              <label for="pwd" style="color:white;">New Password:</label>
              <input type="password" class="form-control" id="pwd" [(ngModel)]="subscriber.password" placeholder="Enter new password" name="pwd">
            </div>
 
          
            <button type="submit" class="btn btn-info"  style="color:white;">Update</button>
            <div class="float-right"(click)="goback()">
            <button type="submit" class="btn btn-info"  style="color:white;" >Back to Login</button></div>
          </form>
          <!-- <br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br> -->
          <!-- (click)="goback()" -->
        </div>




        </div>
        </div>
        
    </div>
    </div>